.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputTip::after {
  content: "Поиск по номеру заявки.";
  margin-left: 5px;
  color: #333333;
  font-size: 80%;
}
