.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInput,
.createBtn {
  padding: 7px;
  width: 180px;
}

.searchInput {
  position: relative;
}
.inputTip::after {
  content: "Поиск по номеру заявки. Введите значение и нажмите Enter";
  margin-left: 5px;
  color: #333333;
  font-size: 80%;
}

.createBtn {
  cursor: pointer;
}
